# Week 1: Python basics

## Variable

An memory used to store a value. In python we need to declare data type before assigining a value to it. It by default takes assigns the data type based on the input value provided

Lets see an example below:

In [2]:
x = 18

In [3]:
type(x)

int

## Data Types

Python supports the following data types
1. int
2. float
3. bool
4. str -> should be defined within quotes
5. list
6. tuple
7. dict -> key value pair
8. set -> collection of unique elements i.e, values cannot be repeated

Lets see examples for each data type below

In [6]:
x = 17
type(x)

int

In [7]:
a = 'shami'
type(a)

str

In [8]:
h = 18.23
type(h)

float

In [9]:
b = False
type(b)

bool

In [12]:
s = [1,2,3,4]
type(s)

list

In [13]:
t = ("sdh","sia", "fewf")
type(t)

tuple

In [15]:
dic= {'is_sham':'true'}
type(dic)

dict

In [17]:
y = {1,2,4,5}
type(y)

set

## List

It is a list of heterogeneous elements. It can consist of int, float, string, bool any datatype.

In [1]:
emplist = [1, 'Shamita', 9.8 ]

In [2]:
type(emplist)

list

The elements of the list can be accessed with the help of index

In [3]:
emplist[0]

1

In [4]:
emplist[1]

'Shamita'

Here the index starts from 0

Slicing:
We can perform slicing operartion also where we defined lower limit and upper limit separated by :, where the element of the upper limit is excluded

In [5]:
schools = ['Harsha', "Educare", "BVB", "Pace PU College", "DSCE", "BITS"]

In [6]:
schools[0:4]

['Harsha', 'Educare', 'BVB', 'Pace PU College']

In [7]:
schools[0:4:2]

['Harsha', 'BVB']

In the above example you might have observed that along with lower limit and upper limit i have added 2 i.e, it gives ouptut after every 2 sequence

We can perform sllicing with -ve integers too

In [8]:
schools[-1]

'BITS'

Using len() we can find out the length of the string

In [9]:
len(schools)

6

In [10]:
teacher = ["Jennie", "Shilpa","Harshitha","Sneha","Bhavani","Sharanya"]

Two separate list can be concatenated with + operation

In [11]:
education = schools + teacher

In [12]:
print(education)

['Harsha', 'Educare', 'BVB', 'Pace PU College', 'DSCE', 'BITS', 'Jennie', 'Shilpa', 'Harshitha', 'Sneha', 'Bhavani', 'Sharanya']

Using in operation you can find out if the element is there in the list or not

In [13]:
'Harsha' in schools

True

In [14]:
"Shamita" in education

False

In [15]:
"Harshitha" in education

True

reverse() operation reverses the string

In [16]:
education.reverse()

In [17]:
print(education)

['Sharanya', 'Bhavani', 'Sneha', 'Harshitha', 'Shilpa', 'Jennie', 'BITS', 'DSCE', 'Pace PU College', 'BVB', 'Educare', 'Harsha']

In [18]:
arr = [1, 2 ,3]

In [19]:
print(arr)

[1, 2, 3]

In [20]:
print(*arr)

1 2 3

In [21]:
arr[0] - 1

0

In [22]:
for i in range(len(arr)):
    arr[i] = arr[i] -1

print(arr)

[0, 1, 2]

Sorting in ascending order:
    arr.sort()

In [24]:
education.sort()
print(education)

['BITS', 'BVB', 'Bhavani', 'DSCE', 'Educare', 'Harsha', 'Harshitha', 'Jennie', 'Pace PU College', 'Sharanya', 'Shilpa', 'Sneha']

For descending order: arr.sort(reverse=True)

In [25]:
education.sort(reverse=True)
print(education)

['Sneha', 'Shilpa', 'Sharanya', 'Pace PU College', 'Jennie', 'Harshitha', 'Harsha', 'Educare', 'DSCE', 'Bhavani', 'BVB', 'BITS']

In [27]:
a= [852,-566, 182, -638, -693, -323]

In [29]:
a.sort(reverse=True)
print(a)

[852, 182, -323, -566, -638, -693]

## Type conversion

You can convert a value from int to float to string and vice versa. For that you need to pass to the value you want to convert

In [34]:
a =5
type(a)

int

In [31]:
b = float(a)

In [33]:
type(b)

float

In [35]:
print(b)

5.0

In [36]:
c= str(b)

In [37]:
print(c)

5.0

In [38]:
type(c)

str

In [39]:
a = [1,2,3,4]

In [41]:
type(a)

list

In [42]:
b = tuple(a)

In [43]:
print(b)

(1, 2, 3, 4)

In [44]:
type(b)

tuple

In [45]:
c = set(a)

In [46]:
print(c)

{1, 2, 3, 4}

In [47]:
type(c)

set

## Input and Output functions

To take input from the user we use input() funtion and to give the output we use print() funtion
Generally the input value is string. Based on our requirement we can convert the string to our usecase.
To print an output use print funtion with "" where we write the sentences which we want to be printed along with the variables whose value we want in output

In [48]:
name = input("Enter your name:")

Enter your name:Shamita

In [50]:
print("My name is "+name)

My name is Shamita

F-string allows you to format selected parts of a string. To specify a string as an f-string, simply put an f in front of the string literal.

In [51]:
name ="Shamita"
age= 23

In [54]:
print(f"My name is {name} and my age is {age}")

My name is Shamita and my age is 23

## Arithemtic Operations

Arithmetic:

"+ -> addition
"- -> subtraction
"* -> multiplication
/ -> division
% -> modulus ( gives the remainder)
// -> floor divison 
** -> exponential

Logical:
and -> 1 when both the conditions are satisfied
or -> either one of the conditiion is satisfied
not -> reverses the truth value

Comparison:
"== -> checks if LHS is equal to RHS
"!= -> checks if LHS is not equal to RHS
"< -> checks if LHS is lesser than RHS
"> -> checks if LHS is greater than RHS
"<= -> checks if LHS is lesser or equal to RHS
">= -> checks if LHS is greater or equal to RHS

Write a calculator for 2 numbers (addition, subtraction, multiplication, division).

In [1]:
a = 10
b =20

print(a+b, a-b, a*b, b/a)

30 -10 200 2.0

Check if a number is even or odd using modulus operator.

In [2]:
if(b%2==0):
    print(f"{b} is an even no")
else:
    print(f"{b} is an odd no")

20 is an even no

Use logical operators in conditional statements (e.g., voting age check).

In [5]:
age=input("Enter the age :")
if (int(age)>=18):
    print(f"The user is eligible for voting")
else:
    print(f"The user is not eligible for voting")

Enter the age :78
The user is eligible for voting

## Practice questions

1.	Print your name and favorite quote

In [6]:
print("My name is Shamita and my quote is Hare krishna")

My name is Shamita and my quote is Hare krishna

2. Write a program that:
â€¢	Asks for the user's name and age
â€¢	Prints a greeting like:
Hello, [name]! You are [age] years old.

In [10]:
name = input("enter your name: ")
age = input("enter your age")
print(f"Hello, {name}! You are {age} years old.")

enter your name: sham
enter your age23
Hello, sham! You are 23 years old.

3. Write a program that:
â€¢	Takes two numbers from the user
â€¢	Prints the sum, difference, product, and quotient
ðŸ“Œ Bonus: Use round() to round the quotient to 2 decimal places.

In [13]:
a, b =input("Enter 2 no: ").split()

Enter 2 no: 1 2

In [16]:
a= int(a)
b = int(b)
print(a+b, a-b, a*b, b/a)

3 -1 2 2.0

In [21]:
c = 111/22
print(round(c,2))

5.05

4. Write a program that:
â€¢	Asks the user for two numbers
â€¢	Checks and prints whether both numbers are greater than 10

In [24]:
p, q =input("Enter 2 no:").split()
if (int(p)>10) and (int(q)>10):
    print("Both the no are greater than 10")
elif (int(p)>=10):
    print(f"{p} greater than or equal to 10")
elif (int(q)>=10):
    print(f"{q} is greater than or equal to 10")
else:
    print("Both are lesser than 10")

Enter 2 no:18 3
18 greater than or equal to 10